<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.project.mapper.EmpMapper">
	<select id="getSelectIdx" resultType="integer">
			SELECT IFNULL(MAX(IDX),0) FROM emp;
	</select>
	<insert id="InsertEmployee">
		<selectKey keyProperty="IDX" resultType="integer" order="BEFORE">
			SELECT IFNULL(MAX(IDX),0) FROM emp;
		</selectKey>
		INSERT INTO emp
			VALUES (
				#{IDX} + 1
				,CONCAT(#{EMP_NUM})
				,#{EMP_NAME}
				,#{DEPT_CD}
				,#{GRADE_CD}
				,#{EMP_TEL}
				,#{EMP_DTEL}
				,#{EMP_EMAIL}
				,#{EMP_PASSWD}
				,#{EMP_POST_NO}
				,#{EMP_ADDR}
				,#{HIRE_DATE}
				,#{WORK_CD}
				,#{PRIV_CD}
				,#{PHOTO}
			)
	</insert>
	
	<select id="getSelectPass" resultType="string">
		SELECT EMP_PASSWD
			FROM emp
				WHERE EMP_EMAIL = #{EMP_EMAIL}
	</select>
	<select id="getSelectName" resultType="com.itwillbs.project.vo.EmpVo">
		SELECT EMP_NAME, PRIV_CD, IDX, EMP_NUM
			FROM emp
				WHERE EMP_EMAIL = #{EMP_EMAIL}
	</select>
	<select id="getEmailCheck" resultType="integer">
		SELECT idx
			FROM emp
				WHERE EMP_EMAIL = #{check_email}
	</select>
	
	<!-- 사원목록 -->
	<select id="selectEmployeeList" resultType="com.itwillbs.project.vo.EmpVo">
		SELECT *
			FROM emp
			WHERE EMP_NAME LIKE '%${keyword}%'
	</select>
	
	<!-- 현재 로그인한 사원의 권한 조회 -->
	<select id="selectPrivCode" resultType="String">
		SELECT PRIV_CD
			FROM emp
			WHERE EMP_NAME=#{EMP_NAME}
	</select>
	
	<!-- 사원 상세 정보 -->
	<select id="selectEmployee" resultType="com.itwillbs.project.vo.EmpVo">
		SELECT *
			FROM emp
			WHERE
				EMP_NUM = #{EMP_NUM }
	</select>
	
	<!-- 사원 수정 -->
	<update id="updateEmployee">
		UPDATE emp
			SET EMP_NUM = #{EMP_NUM}
				,EMP_NAME = #{EMP_NAME}
				,DEPT_CD = #{DEPT_CD}
				,GRADE_CD = #{GRADE_CD}
				,EMP_TEL = #{EMP_TEL}
				,EMP_DTEL = ${EMP_DTEL}
				,EMP_EMAIL = #{EMP_EMAIL}
				<if test='newPasswd neq null and newPasswd neq ""'>
		  			,EMP_PASSWD = #{newPasswd}
	  			</if>
	  			,EMP_POST_NO = #{EMP_POST_NO}
	  			,EMP_ADDR = #{EMP_ADDR}
	  			,WORK_CD = #{WORK_CD}
	  			,PRIV_CD = #{PRIV_CD}
	  			,PHOTO = #{PHOTO}	
	  		WHERE 
	  			idx = #{IDX}
	</update>
	<!-- 비밀번호 변경을 위해 emp_num일치하는 passwd 가져오기 -->
	<select id="getSelectPasswd" resultType="string">
		SELECT EMP_PASSWD
			FROM emp
				WHERE EMP_NUM = #{emp_num}
	</select>
	<!-- 마이페이지 : 비밀번호 수정 -->
	<update id="updatePasswd">
		UPDATE emp
			SET EMP_PASSWD = #{securePasswd}
				WHERE EMP_NUM = #{emp_num}
		
	</update>
	<!-- 마이페이지 : 개인정보 수정 -->
	<update id="updateMypageInfo">
		UPDATE emp
			SET 
				EMP_TEL = #{emp.EMP_TEL},
				EMP_DTEL = #{emp.EMP_DTEL}
	  		WHERE 
	  			EMP_NUM = #{emp_num}
	
	</update>

</mapper>
