<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.project.mapper.EmpMapper">
	<select id="getSelectIdx" resultType="integer">
			SELECT IFNULL(MAX(IDX),0) FROM emp;
	</select>
	<insert id="InsertEmployee">
		<selectKey keyProperty="IDX" resultType="integer" order="BEFORE">
			SELECT IFNULL(MAX(IDX),0) FROM emp;
		</selectKey>
		INSERT INTO emp
			VALUES (
				#{IDX} + 1
				,CONCAT(#{EMP_NUM})
				,#{EMP_NAME}
				,#{DEPT_CD}
				,#{GRADE_CD}
				,#{EMP_TEL}
				,#{EMP_DTEL}
				,#{EMP_EMAIL}
				,#{EMP_PASSWD}
				,#{EMP_POST_NO}
				,#{EMP_ADDR}
				,#{HIRE_DATE}
				,#{WORK_CD}
				,#{PRIV_CD}
				,#{PHOTO}
			)
	</insert>
	
	<select id="getSelectPass" resultType="string">
		SELECT EMP_PASSWD
			FROM emp
				WHERE EMP_EMAIL = #{EMP_EMAIL}
	</select>
	<select id="getSelectWorkCd" resultType="string">
		SELECT WORK_CD
			FROM emp
				WHERE EMP_EMAIL = #{EMP_EMAIL}
	</select>
	<select id="getSelectName" resultType="com.itwillbs.project.vo.EmpVo">
		SELECT EMP_NAME, PRIV_CD, IDX, EMP_NUM
			FROM emp
				WHERE EMP_EMAIL = #{EMP_EMAIL}
	</select>
	<select id="getEmailCheck" resultType="integer">
		SELECT idx
			FROM emp
				WHERE EMP_EMAIL = #{check_email}
	</select>
	
	<!-- 검색용 사원목록 조회 -->
	<select id="selectEmployeeList" resultType="com.itwillbs.project.vo.EmpVo">
		SELECT *
      FROM emp e, dep p 
			WHERE e.DEPT_CD = p.DEPT_CD AND e.EMP_NAME LIKE '%${keyword}%' AND e.WORK_CD = 'C1';
  </select>
	
	<!-- 일반사원목록 조회 -->
	<select id="selectEmpList" resultType="com.itwillbs.project.vo.EmpVo">
		SELECT *
			FROM emp
			<if test="!keyword.equals('')">
				WHERE
					EMP_NAME LIKE '%{keyword}%'
			</if>
			LIMIT 
				#{startRow}
				, #{listLimit}
  	</select>
  	
  	<!-- 사원목록:부서명 -->
  	<select id="selectEmpDept" resultType="String">
  		SELECT DEPT_NAME
  			FROM dep
  			WHERE DEPT_CD=#{DEPT_CD}
  	</select>
  	
  	<!-- 사원목록:직급명 -->
  	<select id="selectEmpGrd" resultType="String">
  		SELECT GRADE_NAME
  			FROM grade
  			WHERE GRADE_CD=#{GRADE_CD}
  	</select>

	<!-- 페이징 처리 -->
	<select id="selectBoardListCount" resultType="int">
		SELECT COUNT(*)
			FROM emp
			<if test="!keyword.equals('')">
				WHERE EMP_NAME LIKE '%{keyword}%'
			</if>	
	</select>
	
	<!-- 현재 로그인한 사원의 권한 조회 -->
	<select id="selectPrivCode" resultType="String">
		SELECT PRIV_CD
			FROM emp
			WHERE EMP_NAME=#{EMP_NAME}
	</select>
	
	<!-- 사원 상세 정보 -->
	<select id="selectEmployee" resultType="com.itwillbs.project.vo.EmpVo">
		SELECT *
			FROM emp
			WHERE
				EMP_NUM = #{EMP_NUM }
	</select>
	
	<!-- 사원 수정 -->
	<update id="updateEmployee">
		UPDATE emp
			SET EMP_NUM = #{EMP_NUM}
				,EMP_NAME = #{EMP_NAME}
				,DEPT_CD = #{DEPT_CD}
				,GRADE_CD = #{GRADE_CD}
				,EMP_TEL = #{EMP_TEL}
				,EMP_DTEL = #{EMP_DTEL}
				,EMP_EMAIL = #{EMP_EMAIL}
<!-- 				<if test='newPasswd neq null and newPasswd neq ""'> -->
<!-- 		  			,EMP_PASSWD = #{newPasswd} -->
<!-- 	  			</if> -->
	  			,EMP_POST_NO = #{EMP_POST_NO}
	  			,EMP_ADDR = #{EMP_ADDR}
	  			,WORK_CD = #{WORK_CD}
	  			,PRIV_CD = #{PRIV_CD}
	  			<if test="PHOTO != null">
					,PHOTO = #{PHOTO}	
				</if>
	  		WHERE 
	  			idx = #{IDX}
	</update>
	<!-- 비밀번호 변경을 위해 emp_num일치하는 passwd 가져오기 -->
	<select id="getSelectPasswd" resultType="string">
		SELECT EMP_PASSWD
			FROM emp
				WHERE EMP_NUM = #{emp_num}
	</select>
	<!-- 마이페이지 : 비밀번호 수정 -->
	<update id="updatePasswd">
		UPDATE emp
			SET EMP_PASSWD = #{securePasswd}
				WHERE EMP_NUM = #{emp_num}
		
	</update>
	<!-- 마이페이지 : 개인정보 수정 -->
	<update id="updateMypageInfo">
		UPDATE emp
			SET 
				EMP_TEL = #{emp.EMP_TEL},
				EMP_DTEL = #{emp.EMP_DTEL},
<!-- 				<if test="PHOTO != null"> -->
					photo = #{emp.PHOTO}
<!-- 				</if> -->
	  		WHERE 
	  			EMP_NUM = #{emp_num}
	
	</update>
	
	<!-- 기존 파일명에서 삭제할 파일명을 제거(일부 제거) - UPDATE -->
	<!-- MySQL 의 replace() 함수를 사용하여 실제 파일명을 널스트링("") 으로 대체 -->
	<!-- UPDATE 구문에서 SET 컬럼명 = REPLACE(대상컬럼명, 대상파일명, 대체할문자열) -->
	<update id="deleteImgFile">
		UPDATE emp
			SET PHOTO = REPLACE(PHOTO, #{PHOTO}, "")
			WHERE EMP_NUM = #{EMP_NUM}
	</update>

</mapper>
