<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.project.mapper.Out_ScheduleMapper">
	
	<select id="selectProList" resultType="com.itwillbs.project.vo.ProductVO">
		SELECT *
			FROM product
			WHERE product_name LIKE '%${keyword}%'
	</select>
	
	<!-- 출고예정목록 조회  -->
	<select id="selectOutScheduleList" resultType="com.itwillbs.project.vo.OutScheduleVO">
		SELECT *
			FROM out_schedule
	</select>
	
	<select id="selectExtraPdCount" resultType="int">
		SELECT COUNT(out_schedule_cd)
			FROM out_schedule_per_product
			WHERE out_schedule_cd = #{outSchCd}
	</select>
	
	<!-- 출고예정 품목명  -->
	<select id="selectOutPdName" resultType="int">
		SELECT MAX(out_schedule_per_cd)
			FROM out_schedule_per_product
			WHERE OUT_SCHEDULE_CD = #{outSchCd}
	</select>
	
	<!-- 출고예정목록 품목명  -->
	<select id="selectOutProduct" resultType="String">
		SELECT product_name 
			from out_schedule_per_product 
			where out_schedule_per_cd = #{checkcd}
	</select>

	<select id="selectOutSingle" resultType="String">
		SELECT product_name 
			from out_schedule_per_product 
			where out_schedule_per_cd = #{checkcd}
	</select>
	
	
	<select id="selectOutSchedule" resultType="com.itwillbs.project.vo.ProductVO">
		SELECT *
			FROM out_schedule
	</select>
	
	<!-- 이름과 규격을 합치는 구문 -->
<!-- 	<select id="nameSize" resultType="object[]"> -->
<!-- 		SELECT CONCAT(product_name, '[', product_size,']') -->
<!-- 			FROM out_schedule_view -->
<!-- 	</select> -->
	
	<!-- 출고예정목록 조회 - 상품별 -->
	<select id="selectOutProdList" resultType="com.itwillbs.project.vo.OutSchedulePerProductVO">
		SELECT *
			FROM out_schedule_per_product
			WHERE out_schedule_cd = #{out_schedule_cd}
	</select>
	
	<!-- 출고예정 - 진행상황 변경 -->
	<update id="updateStatus">
		UPDATE out_schedule
			SET 
				out_complete = #{out_complete}
			WHERE out_schedule_cd = #{out_schedule_cd}
	</update>
		
	<select id="selectStoList" resultType="com.itwillbs.project.vo.StockVo">
		SELECT *
			FROM stock
			WHERE product_cd LIKE '%${keyword}%'

	</select>
	
	
	<select id="selectCode" resultType="integer">
		SELECT 
			IFNULL(MAX(substring(out_schedule_cd, 10)),0) 
			FROM out_schedule;
	</select>
	
	
	<insert id="insertSchedule">
		INSERT
			INTO out_schedule VALUES(
				#{out_schedule_cd}
				,#{business_no}
				,#{cust_name}
				,#{emp_num}
				,#{emp_name}
				,#{out_date}
				,#{remarks}
				,#{out_category}
				,0
			)
	</insert>
	
	<insert id="insertOutProduct">
		INSERT 
			INTO out_schedule_per_product VALUES(
				null
				,#{out_schedule_cd}
				,#{product_cd}
				,#{product_name}
				,#{product_size}
				,#{out_schedule_qty}
				,#{out_qty}
				,#{out_date}
				,#{remarks_pro}
				,#{stock_cd}
				,0
			)
	</insert>
	
	<select id="selectOSInfo" resultType="com.itwillbs.project.vo.OutScheduleVO">
		SELECT *
			FROM out_schedule
			WHERE out_schedule_cd = #{out_schedule_cd}
	</select>
	
	<update id="updateOS">
		UPDATE out_schedule
			SET
			  business_no = #{business_no}
		     ,cust_name = #{cust_name}
		     ,emp_num = #{emp_num}
		     ,emp_name = #{emp_name}
		     ,out_date = #{out_date}
		     ,remarks = #{remarks}
		   WHERE out_schedule_cd = #{out_schedule_cd}
	</update>
	
	<update id="updateOSPro">
		UPDATE out_schedule_per_product
			SET
			 product_cd = #{product_cd}
		     ,product_name = #{product_name}
		     ,product_size = #{product_size}
		     ,out_schedule_qty = #{out_schedule_qty}
		     ,out_qty = #{out_qty}
		     ,out_date = #{out_date}
		     ,remarks_pro = #{remarks_pro}
		     ,stock_cd = #{stock_cd}
		   WHERE out_schedule_cd = #{out_schedule_cd}
	</update>
	
	<!-- 출고 처리 목록 -->
	<select id="selectOsProList" resultType="com.itwillbs.project.vo.OutSchedulePerProductVO">
		SELECT *
			FROM out_schedule_per_product
	</select>
	
	<select id="selectOsProInfo" resultType="com.itwillbs.project.vo.OutSchedulePerProductVO">
		SELECT *
			FROM out_schedule_per_product
			WHERE out_schedule_per_cd = #{out_schedule_per_cd}
	</select>
	
	<select id="searchStockNum" resultType="com.itwillbs.project.vo.StockVo">
		SELECT *
			FROM stock_view
				WHERE STOCK_CD = ${keyword}
	</select>
	
	<!-- 출고 처리 수량 조정 -->
	<update id="updateOspQty" >
		UPDATE out_schedule_per_product
			SET 
			 out_schedule_qty = #{out_schedule_qty} - #{out_qty}
			 ,out_qty = #{out_qty}
			WHERE out_schedule_per_cd = #{out_schedule_per_cd}
	</update>
	
	<!-- 출고 처리 완료 조정 -->
	<update id="updateOut_complete">
		UPDATE out_schedule_per_product
			SET 
			 out_complete = 1
			WHERE out_schedule_qty = 0
	</update>
	
	<!-- 출고 처리 재고 조정 -->
	<update id="updateOspStock">
		<selectKey keyProperty="stock_qty" resultType="int" order="BEFORE">
			SELECT stock_qty 
				FROM stock
				WHERE stock_cd = #{stock_cd} 
		</selectKey>
		
		UPDATE stock
			SET stock_qty = #{stock_qty} - #{out_qty}
			WHERE stock_cd = #{stock_cd} 
	</update>
	
	
</mapper>
