<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.project.mapper.ProductMapper">
	
	<!-- 품목 등록 -->
	<insert id="insertProd">
		INSERT INTO product
			VALUES(
				0,
				#{product_name},
				#{product_group_bottom_cd},
				#{size_des},
				#{unit},
				#{barcode},
				#{in_unit_price},
				#{out_unit_price},
				#{product_type_cd},
<!-- 				#{cust_name}, -->
				#{business_no}, 
				#{product_image},
				#{remarks}
			)
	
	</insert>
	
	<!-- 품목 리스트 -->
	<select id="selectPdList" resultType="com.itwillbs.project.vo.ProductVO">
	
	SELECT
		p.product_cd,
		p.product_name,
		p.product_group_bottom_cd,
		pgb.product_group_bottom_name,
		p.size_des,
		p.unit,
		p.barcode,
		p.in_unit_price,
		p.out_unit_price,
		p.product_type_cd,
		pt.product_type_name, 
		p.business_no,
		b.cust_name,
		p.product_image,
		p.remarks
	FROM
		product p,
		buyer b,
		prod_group_bottom pgb,
		prod_type pt 
	WHERE
		p.product_group_bottom_cd = pgb.product_group_bottom_cd 
	AND p.product_type_cd = pt.product_type_cd 
	AND p.business_no = b.business_no
	
	AND product_name LIKE '%${keyword}%'
	
	</select>
	
	<!-- 품목코드 중복 확인 -->
	<select id="existCd" resultType="int">
		SELECT COUNT(*)
			FROM product
			WHERE product_cd = #{product_cd}
	</select>
	
	<!-- 품목 그룹 리스트 -->
	<select id="selectGroupList" resultType="com.itwillbs.project.vo.ProductVO">
		SELECT product_group_bottom_cd, product_group_bottom_name, product_group_top_cd
			 FROM prod_group_bottom;
<!-- 			WHERE product_name LIKE '%${keyword}%' -->
	</select>
	
	
<!-- 	<select id="selectGroupList" resultType="com.itwillbs.project.vo.ProductVO"> -->
<!-- 		SELECT  -->
<!-- 			pgt.product_group_top_cd -->
<!-- 			, pgb.product_group_bottom_cd  -->
<!-- 			, pgb.product_group_bottom_name -->
<!--  		FROM  -->
<!--  			prod_group_bottom pgb, prod_group_top pgt -->
<!-- 		WHERE  -->
<!-- 			pgt.product_group_top_cd = pgb.product_group_top_cd -->
<!-- 		<if test="!keyword.equals('')"> -->
<!-- 			<choose> -->
<!-- 				<when test="searchType.equals('product_group_bottom_cd')"> -->
<!-- 					product_group_bottom_cd LIKE '%${keyword}%' -->
<!-- 				</when> -->
<!-- 				<when test="searchType.equals('product_group_bottom_name')"> -->
<!-- 					product_group_bottom_name LIKE '%${keyword}%'  -->
<!-- 					OR board_content LIKE '%${keyword}%' -->
<!-- 				</when> -->
<!-- 			</choose>		 -->
<!-- 		</if> -->
<!-- 		ORDER BY -->
<!-- 			board_re_ref DESC -->
<!-- 			, board_re_seq ASC -->
<!-- 		LIMIT  -->
<!-- 			#{startRow} -->
<!-- 			, #{listLimit} -->
<!-- 	</select> -->
	
	<!-- 품목 상세 페이지 -->
	<select id="selectProdInfo" resultType="com.itwillbs.project.vo.ProductVO">
<!-- 		SELECT * FROM product WHERE product_cd = #{product_cd} -->
		SELECT
			p.product_cd,
			p.product_name,
			p.product_group_bottom_cd,
			pgb.product_group_bottom_name,
			pgb.product_group_top_cd,
			p.size_des,
			p.unit,
			p.barcode,
			p.in_unit_price,
			p.out_unit_price,
			p.product_type_cd,
			p.business_no,
			b.cust_name,
			p.product_image,
			p.remarks
		FROM product p 
			JOIN prod_group_bottom pgb 
				ON(p.product_group_bottom_cd = pgb.product_group_bottom_cd)
			JOIN buyer b
				ON(p.business_no = b.business_no)
		WHERE product_cd = #{product_cd};

	
	</select>
	
	<!-- 품목 (수정) (상세 페이지 내) -->
	<update id="modifyProd">
		UPDATE product
			SET 
<!-- 				product_cd = #{product_cd} -->
<!-- 				product_cd -->
				product_name = #{product.product_name}
				, product_group_bottom_cd = #{product.product_group_bottom_cd}
				, size_des = #{product.size_des}
				, unit = #{product.unit}
				, in_unit_price = #{product.in_unit_price}
				, out_unit_price = #{product.out_unit_price}
				, product_type_cd = #{product.product_type_cd}
<!-- 				<if test="business_no neq ''"> -->
				, business_no = #{product.business_no}
<!-- 				</if> -->
<!-- 				<if test="product_image neq ''"> -->
				, product_image = #{product.product_image}
<!-- 				</if> -->
				, remarks = #{product.remarks}
			WHERE 
				product_cd = #{product.product_cd}
	</update>
	
	<!-- 거래처 목록 조회 모달 (등록 페이지) -->
	<select id="selectBuyerList" resultType="com.itwillbs.project.vo.BuyerVo">
		SELECT *
			FROM buyer
			WHERE cust_name LIKE '%${keyword}%'
	</select>
	
	<!-- 기존 파일명에서 삭제할 파일명을 제거 -->
	<update id="deleteImgFile2">
		UPDATE product
			SET product_image = REPLACE(product_image, #{product_image}, "")
			WHERE product_cd = #{product_cd}
	</update>
	
</mapper>
