<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.project.mapper.WareHouseMapper">
	<!-- 상품등록 -->
	<insert id="insertWh">
		INSERT INTO warehouse
			VALUES(
				#{wh_cd},
				#{wh_name},
				#{wh_gubun},
				#{wh_location},
				#{wh_addr},
				#{wh_tel},
				#{wh_man_name},
				#{wh_use},
				#{remarks},
				#{post_no}
			)
	</insert>
	<!-- 창고 조회 목록  -->
	<select id="getwhList" resultType="com.itwillbs.project.vo.WareHouseVO">
		SELECT * 
			FROM warehouse
			ORDER BY abs(wh_cd)
	</select>
	<!-- 선반 조회 목록  -->
	<select id="getwhAreaLocInList" resultType="com.itwillbs.project.vo.WareHouseVO">
		SELECT * 
			FROM wh_loc_in_area
			where wh_area_cd = #{wh_area_cd}
			ORDER BY abs(wh_loc_in_area_cd) desc
	</select>
	<!-- 창고 상세 -->
	<select id="getWarehouse" resultType="com.itwillbs.project.vo.WareHouseVO">
		SELECT * 
			FROM warehouse
			WHERE wh_cd = #{wh_cd}
	</select>
	<!-- 창고 상세 -->
	<select id="getWarehouseName" resultType="com.itwillbs.project.vo.WareHouseVO">
		SELECT * 
			FROM warehouse
			WHERE wh_cd=#{wh_cd} AND wh_name=#{wh_name}
	</select>
	<!-- 창고 수정 작업 -->
	<update id="whModify">
		UPDATE warehouse
			SET 
				wh_cd = #{wh.wh_cd},
				wh_name = #{wh.wh_name},
				wh_gubun = #{wh.wh_gubun},
				wh_location = #{wh.wh_location},
				wh_addr = #{wh.wh_addr},
				wh_tel = #{wh.wh_tel},
				wh_man_name = #{wh.wh_man_name},
				wh_use = #{wh.wh_use},
				remarks = #{wh.remarks},
				post_no = #{wh.post_no}
			WHERE wh_cd = #{wh_cd}	
	</update>
	<!-- 코드 중복 확인  -->
	<select id="getDB_wh_cd" resultType="int">
		SELECT COUNT(*)
			FROM warehouse
			WHERE wh_cd = #{wh_cd}
	</select>
	<!-- 창고 지역 등록 -->
	<insert id="WhAreaInsert">
		INSERT INTO wh_area
			VALUES(
				#{wh_cd},
				#{wh_area},
				0,
				#{wh_cd},
				0+1
			)
	</insert>
	<!-- 창고 선반 등록 -->
	<insert id="WhLocAreaInsert">
		INSERT INTO wh_loc_in_area
			VALUES(
				0,
				#{wh_area_cd},
				#{wh_loc_in_area},
				#{wh_loc_in_area_cd},
				0+1
			)
	</insert>
	<!-- 창고 지역 목록 조회 -->
	<select id="getwhAreaList" resultType="com.itwillbs.project.vo.WareHouseVO">
		SELECT * 
		FROM wh_area
		where wh_cd = #{wh_cd}
        order by wh_area_cd desc;
	</select>
	<!-- 창고 지역 삭제  -->
	<delete id="WhAreaDelte">
		DELETE FROM wh_area
		WHERE wh_area_cd=#{wh_area_cd}
	</delete>
	<!-- 창고 지역 삭제  -->
	<delete id="WhLocAreaDelte">
		DELETE FROM wh_loc_in_area
		WHERE wh_loc_in_area_cd=#{wh_loc_in_area_cd}
	</delete>
	<!-- 창고 지역 수정  -->
	<update id="WhAreaupdate">
		UPDATE wh_area
			SET wh_area=#{wh_area}
			WHERE wh_area_cd=#{wh_area_cd}
	</update>
	<!-- 창고 지역 수정  -->
	<update id="WhAreaLocupdate">
		UPDATE wh_loc_in_area
			SET wh_loc_in_area=#{wh_loc_in_area}
			WHERE wh_loc_in_area_cd=#{wh_loc_in_area_cd}
	</update>
	<!-- 창고 내에 재고 리스트 목록  -->
	<select id="getStockList" resultType="com.itwillbs.project.vo.WareHouseVO">
		SELECT * 
			FROM stock_view
			WHERE 
				wh_cd = #{wh_cd}
					<if test="wh_area_cd != 0">
						AND	wh_area_cd = #{wh_area_cd}
					</if>
					<if test="wh_loc_in_area_cd != 0">
						AND	wh_loc_in_area_cd = #{wh_loc_in_area_cd}
					</if>
	</select>
</mapper>
