<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.project.mapper.WareHouseMapper">
	<!-- 상품등록 -->
	<insert id="insertWh">
		INSERT INTO warehouse
			VALUES(
				#{wh_cd},
				#{wh_name},
				#{wh_gubun},
				#{wh_location},
				#{wh_addr},
				#{wh_tel},
				#{wh_man_name},
				#{wh_use},
				#{remarks}
			)
	</insert>
	<!-- 창고 조회 목록  -->
	<select id="getwhList" resultType="com.itwillbs.project.vo.WareHouseVO">
		SELECT * 
			FROM warehouse
	</select>
	<!-- 창고 상세 -->
	<select id="getWarehouse" resultType="com.itwillbs.project.vo.WareHouseVO">
		SELECT * 
			FROM warehouse
			WHERE wh_cd = #{wh_cd}
	</select>
	<!-- 창고 상세 -->
	<select id="getWarehouseName" resultType="com.itwillbs.project.vo.WareHouseVO">
		SELECT * 
			FROM warehouse
			WHERE wh_cd=#{wh_cd} AND wh_name=#{wh_name}
	</select>
	
	
</mapper>
